{% extends "padre.html" %}

{% block title %} Cursos {% endblock %}


{% block contenido %}

<h2>Buscar Curso</h2>

<form method="GET" action="{% url 'buscar_cursos' %}">
    <input type="text" name="nombre" placeholder="Nombre del curso" value="{{ nombre }}" />
    <button type="submit">Buscar</button>
</form>

<h2>Cursos:</h2>

<ul>
    {% for curso in cursos %}
        <li>{{ curso.nombre }}</li>
    {% empty %}
        <li>No se encontraron cursos.</li>
    {% endfor %}

<a href="{% url 'crear_curso' %}">Crear Curso</a>

{% endblock %}